<!-- header.component.html -->
<header class="header">
  <div class="logo">
    <img ngSrc="./assets/images/bazaar_logo.png" alt="LOGO" height="552" width="812" (click)="refreshPage()">
  </div>
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchQuery" (keyup.enter)="onSearch()"  placeholder="Search for products">
    <button type="button" (click) = "onSearch()">Search</button>
  </div>
  <nav class="nav-links" [class.show]="navLinksVisible">
    <a href="#">Home</a>
    <a href="#">Shop</a>
    <a href="#">Cart</a>
    <a href="#">SignIn</a>
  </nav>
  <div class="menu-icon" (click)="toggleNavLinks()">
    <span>&#9776;</span>
  </div>
</header>
